﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Success College</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home"> <h3 style="color:blue">Success College</h3></a>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Session["Admin"] != null)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Course", "Index", "Course")</li>
                        <li>@Html.ActionLink("Group", "Index", "Group")</li>
                        <li>@Html.ActionLink("Registration", "Index", "Registration")</li>
                        <li>@Html.ActionLink("User", "Index", "User")</li>
                    }
                    else
                    {

                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Student", "Index", "DisplayStudent")</li>
                        <li>@Html.ActionLink("Teacher", "Index", "DisplayTeacher")</li>
                        <li>@Html.ActionLink("Group", "Index", "DisplayGroup")</li>
                        <li>@Html.ActionLink("Course", "Index", "DisplayCourse")</li>
                    }

                </ul>
                <ul class="nav navbar-right">
                    @if (Session["UserId"] != null)
                    {
                        <h4 style="color:white">Hello @Session["UserName"]</h4>
                        
                         @Html.ActionLink("Logout", "Logout", "Login")
                    }
                    else
                    {
                        @Html.Partial("_LoginPartial")
                    }
                </ul>
            </div>
           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - StudentsManagerment[ziming]</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
