﻿@model IEnumerable<StudentsManagement.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Course
</p>
<select id="course" name="course">
    <option value=""></option>
    @foreach (var item in Model)
    {

        <option value="@Html.DisplayFor(modelItem => item.Id)">
            @Html.DisplayFor(modelItem => item.Course1)
        </option>



    }


</select>
<div id="result"></div>
<table id="listTable" class="table table-dark table-striped">
</table>
<div id="showResult"></div>
<div id="waitForIt" style="z-index: 2; position: absolute; top: 100px; left: 150px;">
    <img src="/images/swirl.gif" width="50">
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Id })

            </td>
        </tr>
    }

</table>
