﻿@model IEnumerable<StudentsManagement.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Groups
</p>
<select id="group" name="group">
    <option value="">Group</option>
    @foreach (var item in Model)
    {

        <option value="@Html.DisplayFor(modelItem => item.Id)">
            @Html.DisplayFor(modelItem => item.GroupName)
        </option>



    }


</select>
<div id="result"></div>
<table id="listTable" class="table table-dark table-striped">
</table>
<div id="showResult"></div>
<div id="waitForIt" style="z-index: 2; position: absolute; top: 100px; left: 150px;">
    <img src="/images/swirl.gif" width="50">
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
               
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
               
            </td>
        </tr>
    }

</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    var currId = 0; // id of currently selected item, 0 if none
    var username = "", password = "";
    var sortOrder = "id";


    function selectItem(id) {
        $("#waitForIt").show();
        $.ajax({
            url: "/display_quizQuestion" + id,
            type: "GET",
            dataType: "json",
            headers: { 'X-auth-username': username, 'X-auth-password': password },
            error: function (jqxhr, status, errorThrown) {
                if (jqxhr.status == 403) {
                    loginFailedHandler();
                } else {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }
        }).done(function (todo) {
            currId = id;
            $("#currentId").html(todo.id);
            $("input[name=task]").val(todo.task);
            $("input[name=dueDate]").val(todo.dueDate);
            $("input[name=isDone]").prop('checked', todo.isDone == 'done');
            $("#saveOrAdd").html("Save changes");
            $("#viewAddEditPane").show();
        }).always(function () {
            $("#waitForIt").hide();
        });
    }


    $(document).ready(function () {

        $("#waitForIt").hide();

        $("#group").on('change', function () {

            console.log("group changed");
            $("#waitForIt").show();
            refreshTodoList();


        });



    });

    function loginFailedHandler() {
        alert("Authentication failed");
        $("input[name=username]").val("");
        $("input[name=password]").val("");
        $("#loginPane").show();
        $("#registerPane").show();
        $("#mainAppPane").hide();
    }

    function refreshTodoList() {
        $("#waitForIt").show();
        group = $("#group option:selected").text();
        groupId = $("#group option:selected").val();
        console.log(groupId,group);
        //para
        var serviceURL = '/ajax_display_by_groupController/FirstAjax';


            $.ajax({
                 type: "GET",
                url: '@Url.Action("GetStudentByGroup2", "AjaxDisplayByGroup")',
               //async: false,
               // cache: false,
                dataType: 'json',
                data: { id: groupId },
                contentType: 'application/json; charset=utf-8',
                success: successFunc,
                error: errorFunc
            });

        function successFunc(data) {
           

           
                var html = '';
            console.log("ajax ok");
           // console.log("data length", data.length);
                //alert(data.result,data.status);
                console.log('data=', data);
               // var dtPersons = eval(data);
               // displayJSONData(dtPersons);



            }

            function errorFunc() {
                alert('error1');
            }
    function displayJSONData(dtPersons) {
        var strColumnData1 = "";
        var strColumnData2 = "";
        var strColumnData3 = "";

        for (i = 0; i < 3; i++) {
            var divRow = document.getElementById("divRow_" + i);

            if (i < dtPersons.length) {
                strColumnData1 = dtPersons[i].StudentId;
                strColumnData2 = dtPersons[i].User;
                strColumnData3 = dtPersons[i].Group;
                alert(strColumnData3);
            }
            else {

            }

        }
    }

        return false;
    }

    function sortBy(order) {
        console.log("sorting by " + order);
        sortOrder = order;
        refreshTodoList();
    }
    //


    // just for demonstration purposes, do not use in production code
    function wait(ms) {
        var start = new Date().getTime();
        var end = start;
        while (end < start + ms) {
            end = new Date().getTime();
        }
    }


</script>

