﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JohnAbbott </h1>
    <p class="lead">Launched in 2003 by John Abbott employees, the sole purpose of the Loonie Line is to help students in need at the College to stay in school, focus on succeeding,…</p>
    <p><a href="/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            May 15, 2020 ·
            COVID-19 FAQs – Updated – May 15 at 6:30 p.m.
        </h2>
        <p>
            MESSAGE FOR  DAY STUDENTS – April 9, 2020 MESSAGE FOR DAY DIVISION STUDENTS – March 26, 2020 MESSAGE FOR CONTINUING EDUCATION STUDENTS – March 26, 2020 FREQUENTLY…
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            May 14, 2020 ·
            Winter 2020 – Exam Schedule
        </h2>
        <p>Please click here to view the Winter 2020 Exam Schedule</p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            May 12, 2020 ·
            Good news at John Abbott College
        </h2>
        <p>Launched in 2003 by John Abbott employees, the sole purpose of the Loonie Line is to help students in need at the College to stay in school, focus on succeeding,… </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
</div>